*{padding:0;margin:0;list-style:none}
.layout_container{
    width:100%;
    height:100%;
    background: #EBEDEE;
    /*border:1px solid red;*/
    position:absolute;
    top:0px;
    left:0px;
}
.layout_navigation{
    width:100%;
    height:80px;
    background: #97d5f5;
    border-bottom:1px solid #d3d3d3;
}
.logo{
    width:100%;
    height:40px;
    position:absolute;
    top:0px;
}
.layout_btn_contain{
    width:100%;
    height:40px;
    position: absolute;
    top:40px;
    background: white;
    opacity:0.8;
}
.btn_cover{
    width:80px;
    height:40px;
    background: #272727;
    color:white;
    font-family: "Microsoft YaHei";
    font-size:16px;
    line-height: 40px;
    padding-left: 20px;
    position:absolute;
    top:0px;
    left:40px;
    z-index:-1;
}
.file_input{
    width:100px;
    height:40px;
    position:absolute;
    top:0px;
    left:40px;
    opacity: 0;
}
.btn_coverTwo{
    width:80px;
    height:40px;
    background: #5187b9;
    color:white;
    font-family: "Microsoft YaHei";
    font-size:16px;
    line-height: 40px;
    padding-left: 20px;
    position:absolute;
    top:0px;
    left:140px;
    z-index:-1;
}
.file_input_two{
    width:100px;
    height:40px;
    position:absolute;
    top:0px;
    left:140px;
    opacity:0;
}
.btn_contain{
    width:auto;
    height:40px;
    position:absolute;
    left:300px;
    top:0px;
}
.btn_contain a{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    line-height: 40px;
    width: 100px;
    height:40px;
    display: block;
    float: left;
    margin-left: 1px;
    margin-top: 0px;
    background: #508eea;
    text-align: center;
    color: white;
}
.layout_operate a{
    font-family: "Microsoft YaHei";
    font-size:16px;
}
.layout_btn_contain a:hover{
    color:black;
    cursor: pointer;
}
.layout_operate{
    width: 15%;
    height:auto;
    background: #f1f1f1;
    border:2px solid #d3d3d3;
    border-radius:5px;
    position:absolute;
    top:85px;
    left:5px;
}
.img_btn_box{
    width:64px;
    height:64px;
    border-radius:10px;
    overflow: hidden;
    float:left;
    margin-left: 5px;
    margin-top: 5px;
    border:1px solid #b48497;
}
.img_btn_box a{
    width:64px;
    height:24px;
    text-align: center;
    color:white;
    background: #262626;
    opacity:0.8;
    position:absolute;
    margin-top:40px;
    border-radius:10px;
}
.img_btn_box img{
    width:64px;
    height:64px;
}
.img_btn_box img:hover{
    cursor:pointer;
}
.layout_operate ul li dl dt{
    width:100%;
    height:36px;
    border-bottom:1px solid #d3d3d3;
}
.layout_operate ul li dl dt a{
    font-family: "Microsoft YaHei";
    display: block;
    line-height:36px;
    font-size:16px;
    padding-left: 20px;
}

.layout_operate ul li dl dt a:hover{
    background: #eaeaea;
    cursor: pointer;
}
.layout_operate ul li dl dt a:after{
    content: ">";
    font-family: "adminthemesregular";
    font-weight: bold;
    position:absolute;
    right:10%;
    overflow:hidden;
}
.layout_operate ul li dl dd{
    width:100%;
    height:200px;
}
.progressBar{
    width:200px;
    height:8px;
    background: #d8d8d8;
    border-radius: 3px;
    position:relative;
    left:0px;
}
.progressBar:hover{
    cursor:pointer;
}
.progressPoint{
    width:10px;
    height:8px;
    border-radius: 8px;
    background: red;
    position: relative;
    left:190px;
}
.img_container{
    width:83%;
    height:86%;
    border:1px solid #d3d3d3;
    position: absolute;
    top:85px;
    left:16%;
    overflow: hidden;
}

.control-ops{
    width:500px;
    height:40px;
    /*background: red;*/
    line-height: 40px;
    position:absolute;
    left:300px;
    display: none;
}
.btn-primary{
    width:100px;
    height:40px;
    background: #5187b9;
    opacity:0.8;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color:white;
    border-radius: 5px;
    border:0px solid;
}
.btn-primary:hover{
    opacity:1;
    cursor:pointer;
}
.control-ops a{
    font-family: "Microsoft YaHei";
    font-size: 16px;
}

.img_btn{
    width:32px;
    height:32px;
    margin-top: 20px;
    margin-left: 10px;
}
.img_btn:hover{
    cursor:pointer;
}
.cut_box{
    width:500px;
    height:500px;
    border:1px solid;
    position:absolute;
    top:40px;
    left:300px;
    overflow: hidden;
    display: none;
}
.cut_rect{
    width:100px;
    height:100px;
    border:5px solid #868c8c;
    background: #dbb6c9;
    opacity:0.6;
    position:relative;
    top:0px;
    left:0px;
}
.cut_point{
    width:20px;
    height:20px;
    background: red;
    position:absolute;
    right:-10px;
    bottom:-10px;
    border-radius: 20px;
}
.cut_confirm{
    width:100px;
    height:auto;
    /*background:red;*/
    position:absolute;
    left:200px;
    top:40px;
    display:none;
}
.cut_confirm a{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    line-height: 40px;
    width: 100px;
    height:40px;
    display: block;
    margin-bottom: 10px;
    background: #508eea;
    text-align: center;
    color: white;
}
.cut_confirm a:hover{
    cursor:pointer;

}